

.containerIndex {
  margin-top: 20px;
}

#title-index {
  color: #EC605F;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.equipment {
  border-radius: 5px;
  object-fit: fill;
  border-radius: 10px;
  box-shadow: 1px 2px 15px #212529;
  width : 500px;
  height : 350px;
}

.font-weight-bold {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 25px;
}

b, strong {
  padding: 2px;
  font-weight: bolder;
  font-size: 25px;
  background-color: white;
  border-radius: 5px;
}

.mx-1 {
  /* margin-right: 0.25rem !important; */
  /* margin-left: 0.25rem !important; */
  border-radius: 5px;
}
