.wrapper-dashboard {
  border-radius: 5px;
  text-align: start;
}


.text-center .padded{

}

.titlebooking{
}

.adressbooking {
  color: white;
  text-align: start;
  size: 200px;
  margin: 20px;
  font-weight: bold;
}

.text-right {
  margin: 20px;
  color: white;
  font-weight: bold;
}

.adresseColor {
  color: white;
  font-weight: bold;
}

.dashboard {
  border-radius: 5px;
}
